$textColor: var(--text-color);
$mainColor: var(--main-color);
$secondaryColor: var(--secondary-color);
$activeColor: var(--active-color);

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;