@import "src/styles/variables";

.modal{
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
    padding: 20px;
    opacity: 1;
    transition: all 0.7s;

    &__body{
        border-radius: 20px;
        background-color: $mainColor;
        padding: 50px 50px;

        & div:not(:last-child) {
            border-bottom: $textColor 2px solid;
        }
    }

    &__item{
        display: flex;
        align-items: center;
    }

    &__country-name{
        font-size: 24px;
        font-weight: bold;
        color: $textColor;
        margin-left: 20px;
    }
}

.link-selected{
    color: $activeColor !important;
}

.modal-closed{
    opacity: 0;
    visibility: hidden !important;
}