@import "src/styles/variables";

.nav{
    display: flex;

    &__link{
         text-decoration: none;
         color: $textColor;

         display: inline-flex;
         align-items: center;
     }

    &__icon{
        margin-top: 2px;
        margin-right: 4px;
    }
}